*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-logo{
    font-family:'Limelight', cursive;
}
.navbar-item{
    font-family: 'Roboto Mono', monospace;
}
.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    background-color:#1a237e;
    color:white;
}
.navbar li{
    list-style: none;
    padding: 1rem;
}
.navbar a{
    text-decoration: none;
    color:white;
}
.navbar-logo{
    flex: 0.8rem;
    font-size: 1.5rem;
    user-select: none;
}
 .navbar-toggle{
     display: none;
 }
.navbar-item:hover{
    background: #3f51b5 ;
}
@media (max-width:600px){
    .navbar ul{
        flex-wrap: wrap;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-item{
        display: none;
        width: 100%;
        text-align: center;
    }
    .active{
        display: block;
    }
}
